body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #404040;
}
    /* body {
        background-color: green;
    } */

header {
    float: left;
    width: 255px;
    height: auto;
    border-right: solid #404040 1px;
    border-bottom: solid #404040 1px;
    border-radius: 0 0 6px 0;
    padding: 10px;
    margin-right: 10px;
  }
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  nav ul {
    margin-left: 20px;
  }
  
  nav ul li {
    padding: 5px;
    cursor: pointer;
  }

  nav ul li:hover {
    background-color: #f1a458;
    color: #fff;
  }
  h1 {
    font-family: "Great Vibes", cursive;
    font-size: 52px;
    color: red;
    margin: 10px 0;
  }

  main {
    float: left;
    margin-left: 50px;
    width: 600px;
  }
  textarea {
    display: block;
    width: 75%;
    height: 75px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  form button[type="submit"] {
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: red;
    color: #fff;
    padding: 7px 10px;
    cursor: pointer;
  }
  #comments li {
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }